/* 

header {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
 #user-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #c75bb8;

}
.button-container {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
}
header {
    position: relative;
} 


.register-button,
.login-button,
.add-button,
.logout-button {
    background-color: #c75bb8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; 
}

.register-button a,
.login-button a,
.add-button a,
.logout-button a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

#user-greeting {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #333;
} */